<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    <div style="width:50%; margin:50px auto;">
     <button id="coet1">Create Rocket1</button>
     <button id="coet2">Create Rocket2</button>
     <p id="output"></p>
    
     <p id='speed'></p>   

    </div>


  

</body>
    <script src="../models/thrusters.js"></script>
    <script src="../models/rockets.js"></script>
    <script src="../controllers/controller.js"></script>

</html>