<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../controllers/controller.js"></script>
    <script src="../models/rockets.js"></script>
</head>
<body>
    <div style="width:50%; margin:50px auto;">
     <button id="coet1" onclick="addRocket('32WESSDS', 3, [10,30,80])">Create Rocket1</button>
     <button id="coet2" onclick="addRocket('LDSFJA32', 6, [30,40,50,50,30,10])">Create Rocket2</button>
     <p id="output"></p>
    
    </div>


  

</body>
</html>